<h1>share post</h1>
<hr />
<div class="container">
  <form
    #imageForm="ngForm"
    method="POST"
    (ngSubmit)="(imageForm.form.valid)"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <input
        [(ngModel)]="this.shareModel.sharePostsModel.text"
        #text="ngModel"
        name="postText"
        class="form-control"
        placeholder="text here please"
        required="required"
      />
    </div>
    <div class="form-group">
      <img [src]="imageUrl" style="width:250px;height:200px" />
      <input
        type="file"
        #Image
        accept="image/*"
        (change)="handleFileInput($event.target.files)"
      />
    </div>
    <div class="form-group">
      <input
        [(ngModel)]="this.shareModel.sharePostsModel.tags"
        #text="ngModel"
        name="postTags"
        class="form-control"
        placeholder="tags for your posts"
      />
    </div>
    <button
      type="submit"
      class="btn-large btn-submit"
      [disabled]="Image.value == '' || !imageForm.valid"
      (click)="createPost()"
    >
      share
    </button>
  </form>
</div>
