BODY{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

HR{
  margin: 0;
}

.header_margin{
  /* height: 10px;  */
  height: 5rem; 
  overflow: hidden;
}

.test_likes{
  float: right;color: blue; cursor: pointer;
}