.user_name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.user_details{
    font-size: 1.2rem;
    line-height: 2.6rem;
}

.link-look-alike{
    float: right;
    color: blue;
    cursor: pointer;
    margin-right: 20px;
}
.inline-text {
    color: blue;
}
